<!--équipe-->
<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Équipe</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row">
      <div class="col-lg-4" *ngFor="let data of datas">
        <div class="team-member">
          <!-- Ajoutez une logique pour déterminer la source de l'image en fonction des données -->
          <img class="mx-auto rounded-circle" [src]="getTeamMemberImage(data)" alt="..." />
          <h4>{{ data.nom}} {{ data.prenom}}</h4>
          <p class="text-muted">{{ data.typeTravail }}</p>
          <!-- Lien pour l'appel téléphonique -->
         <a class="btn btn-dark btn-social mx-2" href="tel:{{ data.contact }}" [attr.aria-label]="'Appeler ' + data.prenom + ' ' + data.nom"><i class="fas fa-phone"></i></a>

         <!-- Lien pour WhatsApp -->
         <a class="btn btn-dark btn-social mx-2" href="https://wa.me/{{ data.contact }}" [attr.aria-label]="'Chat WhatsApp avec ' + data.prenom + ' ' + data.nom"><i class="fab fa-whatsapp"></i></a>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>
